.header {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  font-size: 16px;
  top: 0;
  gap: 20px;
  background: rgba(255, 255, 255, 0.75);
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.navigation {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 479px) {
  .header {
    padding: 20px 20px;
  }
}