.presentation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px 0;
}

.presentation h1 {
  font-size: 62px;
}

@media screen and (max-width: 991px) {
  .presentation h1 {
    font-size:46px;
  }

  
}

@media screen and (max-width: 479px) {
  .presentation h1 {
    font-size:38px;
  }
}